/* Base Styles */ 
.body{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    background-color: rgba(240, 235, 235, 0.123);
} 
.fixedheader{
    position: fixed !important;
    background-color: white;
    width: 100%;
}
.head{ 
    position: fixed; 
    left: 0; 
    right: 0; 
    background-color: rgb(5, 5, 146); 
} 
.info{ 
    background-color: rgb(5, 5, 146); 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
} 
.info i { 
    color: white; 
    margin: 5px; 
    padding: 5px;
    margin-top: 10px;
} 
.bluepart{ 
    background-color: rgb(5, 36, 80); 
    width: 100%;
} 
.description{ 
    color: white; 
    text-align: center; 
    margin: 5px; 
    margin-top: 10px; 
    font-size: 14px; 
    font-weight: 600; 
    padding: 5px;
} 


.sectionOne{
    background-image: url('photo/kav8k.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;
    height: 400px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 120px !important;
}

#morepaddinginrow{
    padding: 25px;
    margin: 35px;
}

.bluelink{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 123, 255, 0.511);
    padding: 15px;
    margin-left: 50px;
    font-size: 14px;

}

.bluelink:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 179);
    padding: 17px;
}

.sectionTwo{
    padding: 25px;
    margin: 25px;

    .progressbar{
        float: right;
        margin-top: 25px;
    }
}
