/* Base Styles */ 
.body{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    background-color: rgba(240, 235, 235, 0.123);
} 
.fixedheader{
    position: fixed !important;
    background-color: white;
    width: 100%;
}
.head{ 
    position: fixed; 
    left: 0; 
    right: 0; 
    background-color: rgb(5, 5, 146); 
} 
.info{ 
    background-color: rgb(5, 5, 146); 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
} 
.info i { 
    color: white; 
    margin: 5px; 
    padding: 5px;
    margin-top: 10px;
} 
.bluepart{ 
    background-color: rgb(5, 36, 80); 
    width: 100%;
} 
.description{ 
    color: white; 
    text-align: center; 
    margin: 5px; 
    margin-top: 10px; 
    font-size: 14px; 
    font-weight: 600; 
    padding: 5px;
} 


.sectionOne{
    
    height: 600px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 120px !important;
}

#morepaddinginrow{
    padding: 25px;
    margin: 35px;
}

.bluelink{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 123, 255, 0.511);
    padding: 15px;
    margin-left: 50px;
    font-size: 14px;

}

.bluelink:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 179);
    padding: 17px;
}

.sectionTwo{
    padding: 25px;
    margin: 25px;

    .progressbar{
        float: right;
        margin-top: 25px;
    }
}

.morebottom{
    margin-top: 65px !important;
    margin: 10px;
    padding: 10px;
}
.greygradient_background{
    background-color: rgba(215, 212, 205, 0.295);
    
}

.border_topOrange{
    border-top: 8px solid orange;
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
}
.contact_features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact_featuresOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name{
    margin-left: 15px !important;
}
.email{
    margin-left: 16px !important;
}
label{
    font-size: 14px;
    color: grey;
    font-weight: 600;
    margin: 5px;
}
input{
    width: 200px;
    height: 30px;
}

.features{
    padding: 15px;
    margin: 15px;
}
textarea{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
.messages{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
button{
    position: absolute;
    bottom: -80px;
    width: 100px;
    border-radius: 5px;

}

#icones{
    color: orange;
    font-size: 100px;
    margin-left: 20px;
}
.headphones{
    text-decoration: none !important;
    color: orange;
    font-size: 16px;
    font-weight: 600;
}
.watch{
    text-decoration: none !important;
    color: orange;
    font-size: 16px;
    font-weight: 600;
}

.RDV{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    margin: 15px;
    a{
        margin-left: -24px;
    }
}

.photoB{
    margin-top: 15px;
    width: 500px;
    height: 400px;
}
.footer{
    margin-top: 45px;
    border-top: 8px solid rgb(0, 204, 255);
    background-color: rgba(3, 3, 49, 0.866);
    width: 100%;
}
.social_media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    #facebook{
        color: white;
    }
    #facebook:hover{
        cursor: pointer;
        color: rgb(0, 195, 255);
        padding-top: 5px;
    }
    #instagram{
        color: white;
    }
    #instagram:hover{
        cursor: pointer;
        color: rgb(208, 0, 255);
        padding-top: 5px;
    }
    #linkedin{
        color: white;
    }
    #linkedin:hover{
        cursor: pointer;
        color: rgb(81, 0, 255);
        padding-top: 5px;
    }
    
}

.ord li{
    list-style-type: none;
    text-align: center;
    color: white;
}

.media{
    font-size: 24px;
    margin-top: 15px;
}

.part{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 15px;
    img{
        width: 200px;
        height: 200px;
        margin: 5px;
        display: flex;
        justify-content: space-around;
    }
}

.col_right, .col_left{
    border: 1px solid grey;
}

.hr{
    width: 560px;
    border: 3px solid blue;
    float: right;
}
.partrow{
    display: flex;
    justify-content: space-around;
}

/* Core Styling for the Carousel */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    transition: transform 0.6s ease;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Ajustez cette valeur selon vos besoins */
    object-fit: cover; /* Pour s'assurer que les images remplissent l'espace de manière uniforme */
  }
  
  /* Control Styling */
  .carousel-control-left,
  .carousel-control-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    z-index: 1;
  }
  
  .carousel-control-left {
    left: 10px;
  }
  
  .carousel-control-right {
    right: 10px;
  }
  
  /* Indicator Styling */
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel-indicators li {
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 1px;
    width: 10px;
    cursor: pointer;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }
  


