/* Base Styles */ 
.body{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    background-color: rgba(240, 235, 235, 0.123);
} 
.fixedheader{
    position: fixed !important;
    background-color: white;
    width: 100%;
}
.head{ 
    position: fixed; 
    left: 0; 
    right: 0; 
    background-color: rgb(5, 5, 146); 
} 
.info{ 
    background-color: rgb(5, 5, 146); 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
} 
.info i { 
    color: white; 
    margin: 5px; 
    padding: 5px;
    margin-top: 10px;
} 
.bluepart{ 
    background-color: rgb(5, 36, 80); 
    width: 100%;
} 
.description{ 
    color: white; 
    text-align: center; 
    margin: 5px; 
    margin-top: 10px; 
    font-size: 14px; 
    font-weight: 600; 
    padding: 5px;
} 


.sectionOne{
    background-image: url('photo/kav8k.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-attachment: fixed;
    height: 400px;
    margin: 5px;
    border-radius: 15px;
    margin-top: 120px !important;
}

#morepaddinginrow{
    padding: 25px;
    margin: 35px;
}

.bluelink{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 123, 255, 0.511);
    padding: 15px;
    margin-left: 50px;
    font-size: 14px;

}

.bluelink:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 179);
    padding: 17px;
}

.sectionTwo{
    padding: 25px;
    margin: 25px;

    .progressbar{
        float: right;
        margin-top: 25px;
    }
}

.morebottom{
    margin-top: 65px !important;
    margin: 10px;
    padding: 10px;
}
.greygradient_background{
    background-color: rgba(215, 212, 205, 0.295);
    
}

.border_topOrange{
    border-top: 8px solid orange;
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
}
.contact_features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact_featuresOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name{
    margin-left: 15px !important;
}
.email{
    margin-left: 16px !important;
}
label{
    font-size: 14px;
    color: grey;
    font-weight: 600;
    margin: 5px;
}
input{
    width: 200px;
    height: 30px;
}

.features{
    padding: 15px;
    margin: 15px;
}
textarea{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
.messages{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
button{
    position: absolute;
    bottom: -80px;
    width: 100px;
    border-radius: 5px;

}

#icones{
    color: orange;
    font-size: 100px;
    margin-left: 20px;
}
.headphones{
    text-decoration: none !important;
    color: orange;
    font-size: 16px;
    font-weight: 600;
}
.watch{
    text-decoration: none !important;
    color: orange;
    font-size: 16px;
    font-weight: 600;
}

.RDV{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    margin: 15px;
    a{
        margin-left: -24px;
    }
}

.photoB{
    margin-top: 15px;
    width: 500px;
    height: 400px;
}
.footer{
    margin-top: 45px;
    border-top: 8px solid rgb(0, 204, 255);
    background-color: rgba(3, 3, 49, 0.866);
    margin: 15px;
    padding: 15px;
}
.social_media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    #facebook{
        color: white;
    }
    #instagram{
        color: white;
    }
    #linkedin{
        color: white;
    }
    
}

.ord li{
    list-style-type: none;
    text-align: center;
    color: white;
}

.media{
    font-size: 24px;
    margin-top: 15px;
}


